run = "test"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "test"]

[workflows]
runButton = "Run Tests"

[[workflows.workflow]]
name = "Run Tests"
author = 8085412
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ". ~/.nvm/nvm.sh && npm install && npm test"
