run = "test"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "test"]

[workflows]
runButton = "Run Web App"

[[workflows.workflow]]
name = "Run Tests"
author = 8085412
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm test"

[[workflows.workflow]]
name = "Run Web App"
author = 8085412
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "nix-shell -p nodejs_20 --run \"npm install && node src/server.js\""

[[ports]]
localPort = 3000
externalPort = 80
